<!DOCTYPE html><html lang="vi" class="loaded" data-react-helmet="lang" style="--swiper-theme-color: #fff; --platform-color-highlight: #3d7fc5; --window-inner-height: 812px; overflow: auto;"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"><link rel="shortcut icon" href="/favicons/vi6prod.ico"><meta name="referrer" content="origin"><meta name="google" content="notranslate"><title>GA6789</title><meta http-equiv="x-dns-prefetch-control" content="on"><link rel="preconnect" href="https://img.alltocon.com"><link rel="dns-prefetch" href="https://img.alltocon.com"><link rel="preconnect" href="https://api.ga6789x7.com"><link rel="dns-prefetch" href="https://api.ga6789x7.com"><style>.app-loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e4e5e5;
    z-index: 1;
  }

  html.loaded {
    #p-img,
    .app-loading-bg {
      display: none;
    }
  }
 
  body {
    margin: 0;
    padding: 0;
  }

  #root {
    display: block;
  }
</style>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/206.d4cde7e6.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/6569.b3db9391.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-home.8a298b42.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-MemberCenter.8e9491ba.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-MemberCenter-profile.45460b2c.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-login.cbbf1dbf.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-signup.36b1c1b4.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-promo.a573523d.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-cs.bd7bb00c.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-adFloatingGame.34d948cf.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-act.6d439166.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/300.1da82308.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-reg-ro.ad92be62.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-spdpum.fb5479af.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/m-addhs.e02e05ce.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/8338.dbcf599a.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/4259.65c1fa99.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/664.a56518c6.css">
</head>
<body>
<div id="root" style="display: block;">
<div class="app account"><div style="display: none;"></div><div class="app-body nav-bar"><div class="m-member-center-main"><div class="m-member-center-account"><div class="info-block"><div class="top"><div>Xin chào, vui lòng <span>Đăng nhập</span><span> / </span><span>Đăng ký</span></div></div></div><div class="func-btn-block"><button title="" class="nrc-button action-btn" type="button"><div class="icon"><i class="kicon-deposit"></i></div><span>Nạp tiền</span></button><button title="" class="nrc-button action-btn" type="button"><div class="icon"><i class="kicon-withdrawal"></i></div><span>Rút tiền</span></button><button title="" class="nrc-button action-btn" type="button"><div class="icon"><i class="kicon-fin-history"></i></div><span>Lịch sử giao dịch</span></button><button title="" class="nrc-button action-btn" type="button"><div class="icon"><i class="kicon-game-history"></i></div><span>Lịch sử trò chơi</span></button></div><div class="menu-block logout-status"><div data-item="account" class="item"><i class="kicon-account"></i><div class="label">Cài Đặt</div></div><div data-item="vip" class="item"><i class="d20_account_vip"></i><div class="label">VIP</div></div><div data-item="wallet" class="item"><i class="d20_account_wallet"></i><div class="label">Ví tiền của tôi</div></div><div data-item="mission" class="item"><i class="d20_account_mission"></i><div class="label">Nhật ký nhiệm vụ</div></div><div data-item="promo" class="item"><i class="d20_account_gift"></i><div class="label">Khuyến mãi</div></div><div data-item="helpCenter" class="item"><i class="d20_system_info"></i><div class="label">Dịch vụ khách hàng</div></div><div data-item="inbox" class="item"><i class="kicon-inbox"></i><div class="label">Thông báo</div></div><a data-item="app" class="item" target="_blank" href="https://app-download.alltocon.com/vi6prod" rel="noreferrer"><i class="d20_system_cellphone"></i><div class="label">Tải ứng dụng</div></a><div data-item="promoCenter" class="item"><i class="d20_account_deposit2"></i><div class="label">Trung tâm phần thưởng</div></div><div data-item="withdrawalAccount" class="item"><i class="d20_account_bankcard"></i><div class="label">Tài khoản rút tiền</div></div></div></div><div class="event-qmenu menu-close"><div class="handle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 70"><path d="M0,1.3l0,67.4c0.5-1.3,1.2-2.6,1.9-3.8c2-3.3,4.2-5.7,8.4-9.6l1.5-1.4C19.3,47,22,42.8,22,35s-2.7-12-10.2-18.9c-0.2-0.2-1.2-1.1-1.5-1.4c-4.2-3.9-6.5-6.3-8.4-9.6C1.2,3.9,0.5,2.6,0,1.3L0,1.3z"></path></svg></div><div class="cont"></div></div></div></div><div class="bottom-nav"><ul><li class="nav-home"><i class="d20_account_home"></i><h3>Trang chủ</h3></li><li class="nav-promo"><i class="d20_account_gift"></i><h3>Khuyến mãi</h3></li><li class="nav-deposit"><i class="d20_account_deposit2"></i><h3>Nạp tiền</h3></li><li class="nav-withdrawal"><i class="d20_account_withdrawal1"></i><h3>Rút tiền</h3></li><li class="nav-cs"><i class="d20_contact_cs"></i><h3>Liên hệ</h3></li><li class="nav-account current"><i class="d20_account_account"></i><h3>Tài khoản</h3></li></ul></div></div>
</div>
<script src="/js/auth.js"></script>
</body>
</html>
